name: Node CI

on: 
  push:
    branches:
      - master
      - 'releases/**'
  
  pull_request: 
    branches:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm install --no-optional
        npm run build --if-present
      env:
        CI: true
